<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Acerca de</title>
</head>

<body>
<div id="main">
  <div id="header">
	</div>
  </div>
  <div class="span7 offset2">
  <div id="about">
	    <H2>Acerca de SeriesJump</H2> 
            <p><strong>Una web de vídeos única!</strong></p>
            <p>SeriesJump es una web de series, películas y cortos que le permite visualizar de forma online cualquier serie,
            películas corto de forma rápida, sencilla y fiable</p>
            <p>Tanto si le gustan los clásicos como si quiere estar a la última, SeriesJump es tu página</p>
            <p>Su interfaz sencilla y atractiva y sus menús tan intuitivos le proporcionarán una experiencia única</p>
            <p>Tan solo acceda a SeriesJump, elija su serie o película favorita y disfrute!</p>            
  </div>
  </div>
</div>
</body>
</html>
