<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Contacto</title>
  <link href="login-box.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="main">
  <div id="header">
	 <div id="logo">
	    <img src="/images/logo.jpg" alt="logo"/>					
	</div>
        <div id="text_header">
	    <h2> SeriesJump </h2>
	</div>      
  </div>
  <div id="contacto">
	    <H2>Contacto</H2> 
	    <p > Si desea contactar con nosotros, por favor mande un e-mail a la persona cuyo departamento esté más relacionado con su problema</p>
	    <p ></p>
	    <H2 >Disponibilidad del servicio</H2>
	    <p >Alexandra: alexandra@seriesjump.com</p>
	    <p >Iván: ivan@seriesjump.com</p>             
	    <H2 >Denuncias y/o Reclamaciones</H2>
	    <p >Adrian: adrian@seriesjump.com</p>
	    <p >Hamilton: hamilton@seriesjump.com</p>
	    <H2 >Sugerencias</H2>
	    <p >Alberto: alberto@seriesjump.com</p>
	    <H2 >Resolución de problemas</H2>
	    <p >Leonardo: leonardo@seriesjump.com</p>
	    <p >Marcos: marcos@seriesjump.com</p>	    
	    <br />

  </div> 
  <div id="footer"> 
       <p> SeriesJump 2012</p> 
  </div> 	
</div>
</body>
</html>