<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Ayuda</title>
</head>

<body>
<div id="main">
  <div id="header">
	 <div id="logo">
	    <img src="/images/logo.jpg" alt="logo"/>					
	</div>
        <div id="text_header">
	    <h2> SeriesJump </h2>
	</div>      
  </div>
  <div id="help">
	    <H2>Ayuda</H2> 
            <p><strong>¿Cómo puedo acceder a SeriesJump?</strong></p>
            <p>Puede acceder de 2 formas: mediante el registro en nuestra web, creando una nueva cuenta, o
               mediante su cuenta de Twitter,Facebook o Google</p>

            <p>Si ha experimentado problemas con respecto al acceso, le invitamos a comunicárnoslo mediante el envío
               de un correo electrónico a cualquier miembro del departamento de Resolución de Problemas.
               Estaremos encantados de ayudarle.</p>
            <p>Si desea consultar información relacionada con el estado de la página web, sírvase de enviar un correo
               electrónico a cualquier miembro del departamento de Disponibilidad del Servicio.</p>

  </div> 
  <div id="footer"> 
       <p> SeriesJump 2012</p> 
  </div> 	
</div>
</body>
</html>