<% flash.each do |name, msg| %>
	<% if msg.is_a?(String) %>
    	<%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
<% end %>


<% if user_signed_in? %>

	<div class="row-fluid">  
       	<div class="span3">  
       		<div class="well sidebar-nav">  
           		<ul class="nav nav-list">  
           			<li class="nav-header">Nuestros Servicios</li>  
		            <li><a href="/series">Series</a></li>  
		            <li><a href="/peliculas">Peliculas</a></li>  
		            <li><a href="/series">Lalala</a></li>  
		            <li><a href="/peliculas">lalala</a></li>  
		            <li class="nav-header">&Uacuteltimas Novedades</li>
					<li><a href="/series">Series</a></li>  
		            <li><a href="/peliculas">Pel&iacuteculas</a></li>  
		            <li><a href="/usuarios">Usuarios</a></li>  
		            <li><a href="/peliculas">lalala</a></li>  
           		</ul>  
       		</div><!--/.well -->  
      	</div><!--/span-->  
       
		<div class="span9">  
          <div class="row-fluid">  
            <div class="span4">  
				<h2>Pelis</h2> 
				<img id="img_init" src="http://lorempixel.com/150/190/sports">			  
				<p> Las mejores pelis del mundo mundial y mucho m&aacutes! </p>  
				<p><a class="btn btn-success btn-large" href="/peliculas"> Mira algunas de las que tenemos</a></p>  
            </div><!--/span-->  
            <div class="span4">  
				<h2>Series</h2>  
				<img id="img_init" src="http://lorempixel.com/150/190/abstract">
				<p> Las mejores series del mundo mundial y mucho m&aacutes! </p>  
				<p><a class="btn btn-success btn-large" href="/series">Mira algunas de las que tenemos </a></p>  
            </div><!--/span-->  
            <div class="span4">  
				<h2>Cortos</h2>  
				<img id="img_init" src="http://lorempixel.com/150/190/food">
				<p>Los mejores cortos del mundo mundial y mucho m&aacutes! </p>  
				<p><a class="btn btn-success btn-large" href="/series">Mira algunos de los que tenemos</a></p>  
            </div><!--/span-->  
          </div><!--/row-->  



<% else %>
	<div class="span12">  
    	<div class="row-fluid">  
        	<div class="span10 offset2">  
        		<div id="init">  
        		   <h2> Series Jump <h2>
        		</div>  
 				<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
				  <div class="carousel-inner">
				    <div class="item active"><!-- class of active since it's the first item -->
				     <img src='http://frikilogia.com/wp-content/uploads/2011/04/estreno_de_juego_de_tronos.jpg' alt="ca1" width="800" >
				      <div class="carousel-caption">
				        <p> Disfruta de las mejores series </p>
				      </div>
				    </div>
				    <div class="item">
				      <img src='http://artescritorio.com/wp-content/uploads/2011/01/True_Blood_by_n0t1m3.jpg' alt="ca2"  width="800" >
				      <div class="carousel-caption">
				        <p>y peliculas del momento</p>
				      </div>
				    </div>
				    <div class="item">
				      <img src='http://www.diariodenavarra.es/uploads/imagenes/bajacalidad/2012/07/31/_hob0001_36ee225d.jpg' alt="ca3" width="800" >
				      <div class="carousel-caption">
				        <p>con la mejor calidad </p>
				      </div>
				    </div>
				    <div class="item">
				      <img src='http://pixel2pixel.files.wordpress.com/2012/07/the-walking-dead.jpg' alt="ca4" width="800" >
				      <div class="carousel-caption">
				        <p>y desde casa</p>
				      </div>
				    </div>
				  </div><!-- /.carousel-inner -->
				  <!--  Next and Previous controls below
				        href values must reference the id for this carousel -->
				    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
				    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
				</div><!-- /.carousel -->
        		
          	</div><!--/span-->  
  			<div class="span10 offset3">  
        	    <h2> Entra ya desde cualquier red social </h2>	
					<div class="span10 offset2">  
  						<%= link_to( image_tag('/img/logo_t.png'), signin_path)  %>
  						<%= link_to(image_tag('/img/logo_f.png'), signin1_path)  %>
  						<%= link_to(image_tag('/img/logo_g.png'), signin2_path)  %>
  					</div><!--/span-->  
			</div><!--/span-->  
         </div><!--/row-->  
	</div><!--/span-->  
        
		
<% end %>


