<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Políticas de privacidad</title>
  <link href="login-box.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="main">
  <div id="header">
	 <div id="logo">
	    <img src="/images/logo.jpg" alt="logo">	
	</div>
        <div id="text_header">
	    <h2> SeriesJump </h2>
	</div>      
  </div>
  <div id="policies">
        <p>Nuestra política de privacidad describe como recogemos, guardamos o utilizamos la información que los usuarios han introducido 
        a través de los diferentes servicios o páginas disponibles en este sitio. Es importante que entienda qué información
        recogemos y cómo la utilizamos ya que el acceso a este sitio implica la aceptación nuestra política de privacidad.</p>
        
        <p><strong>1. Información que recibimos y cómo la utilizamos</strong></p>
        <p>Usted puede elegir proporcionarnos su información personal cuando visite SeriesJump. Si elige registrarse en la web creando una
        cuenta SeriesJump, se le solicitará cierta información, como puede ser: nombre, correo electrónico, fecha de nacimiento y país de residencia.
        <p>Si, de lo contrario, elige acceder con su cuenta de Twitter, Facebook o Google, se obtendrá dicha información de la cuenta introducida.</p>
        <p>Si prefiere que no recopilemos su información personal, por favor no nos proporcione dicha información.</p>
        <p><strong>2. Privacidad de Menores</strong></p>
        <p>Usted podrá navegar en nuestra web incluso si es menor de 18 años de edad. No obstante, no nos podrá proporcionar información personal. 
        Si por alguna razón sabemos que inadvertidamente hemos recibido información personal de un visitante menor de 18 años de edad, 
        borraremos dicha información de nuestros registros.</p>
        <p><strong>3. Cómo Protegemos la Información Personal</strong></p>
        <p>Contamos con protecciones razonables para evitar que la información personal que usted haya proporcionado, sea revelada, utilizada, 
        alterada o destruida sin autorización. Si tiene alguna pregunta con respecto a la seguridad de nuestra web, puede enviar un correo 
        electrónico a seguridad@seriesjump.es.</p>
        <p><strong>4. Actualizaciones en nuestra Política de Privacidad</strong></p>
        <p>Nosotros podemos revisar esta Política de Privacidad en cualquier momento. En caso de que decidamos cambiarla, anunciaremos aquí la 
        política de privacidad modificada. Sugerimos que consulte periódicamente esta Política de Privacidad. Sírvase encontrar la fecha de entrada 
        en vigor de la Política de Privacidad al inicio de esta página.</p>
        <p><strong>5. Sus derechos</strong></p>
        <p>a.Actualizar su Información</p>
        <p>Usted tiene derecho de revisar, modificar o solicitar que se borre su información personal mediante el menú configuración de su cuenta o 
        enviando un correo electrónico a cualquier miembro del departamento Denuncias y/o Reclamaciones, que puede encontrar en la página de Contacto.
        <p>b. Cancelar su subscripción de noticias de SeriesJump</p>
        <p>Usted puede elegir si desea o no recibir correos electrónicos de novedades acerca de SeriesJump. Puede cambiar sus preferencias en la
        configuración de su cuenta, haciendo clic en el enlace denominado "cancelar subscripción" que se encuentra al final de cada correo electrónico 
        que reciba de SeriesJump, o mediante el envío de un correo electrónico a cualquier miembro del departamento Denuncias y/o Reclamaciones, 
        que puede encontrar en la página de Contacto.</p>
        <p><strong>6. Comentarios</strong></p>
        <p>Hemos tomado medidas importantes para asegurarnos que su visita a nuestro Sitio sea excelente y para que su privacidad sea respetada constantemente. 
        En caso de que tenga alguna duda, comentario o inquietud acerca de nuestras prácticas de privacidad, por favor contáctenos vía correo electrónico a
        cualquier miembro del departamento de Sugerencias.</p>
        <p><strong>7. Contenido multimedia</strong></p>        
        <p>Todos los vídeos visualizados en SeriesJump están almacenados en servidores ajenos a la misma. Sólo almacenamos los enlaces a los mismos.</p>        
        <p><strong>8. Publicidad</strong></p>        
        <p>Este sitio alberga publicidad propia.</p>
  </div> 
  <div id="footer"> 
     <p> SeriesJump 2012</p> 
  </div> 
</div>
</body>
</html>
