<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Términos</title>
</head>

<body>
<div id="main">
  <div id="header">
	</div>
	</div>      
  </div>
  <div class="span7 offset2">
  <div id="terms">
	    <H2>Términos y Condiciones</H2>
            <p>SeriesJump proporciona un servicio para ver series, películas y cortos online, directamente desde 
            la web. Solo tiene que registrarse o acceder con su cuenta de Twitter,Facebook o Google y ya puede disfrutar 
            de todo el contenido completamente gratis con películas, series y cortos online, sin cortes.
            <p><strong>Aviso legal</strong></p>
            <p>Las presentes Condiciones Generales de Uso (en adelante, “Condiciones Generales”) regulan la utilización
            de los servicios ofrecidos por SeriesJump pone a disposición de sus Usuarios a través de 
            su plataforma.</p>
            <p>La utilización de la página web le atribuye la condición de usuario de la misma (en adelante, “el Usuario”)
            e implica la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en los presentes 
            Términos y Condiciones de Uso, así como de la política de privacidad publicados en SeriesJump, en el momento en el
            que el Usuario acceda a la web.</p>
            <p>En consecuencia, se recomienda al Usuario la lectura periódica de las mismas, ya que pueden estar sujetas a 
            modificaciones.
            La utilización de ciertos servicios ofrecidos a los Usuarios a través de SeriesJump se encuentran sometidos a 
            condiciones particulares propias (en adelante, «Condiciones Particulares») que, según los casos podrán sustituir, 
            completar o modificar las presentes Condiciones Generales. Por tanto, con anterioridad a la utilización de los 
            citados servicios, se recomienda al Usuario la lectura de dichas Condiciones Particulares.</p>
            <p>Debe usted ser mayor de edad o, en caso contrario, contar con la aprobación de sus progenitores, tutores o 
            aquella persona que mantenga la patria potestad sobre su persona así como estar en plena posesión de sus facultades.
            Carácter gratuito del acceso y utilización de SeriesJump. Los servicios principales que SeriesJump pone a 
            disposición de los Usuarios tienen carácter gratuito.</p>
		 </div>
  </div> 
</div>
</body>
</html>
