<div class="row-fluid" id="pelicula_show" align ="center">
	<h1>Edici&oacuten de la pel&iacutecula</h1>
	<h3><%=  @pelicula.nombre %></h3>
</div>

<%= render 'form' %>

<%= link_to 'Show', @pelicula %> |
<%= link_to 'Back', peliculas_path %>
