<% puts "fueraaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" %>

<% if @peliculas_busqueda.empty? %>
	<span>There were no results for your query</span><br/><br/>
<% else %>
        
	<% @peliculas_busqueda.each do |pelicula| %>
   		Result:  <%= link_to pelicula.nombre, Pelicula.find(pelicula.id), :controller => "peliculas" %> 
	<% end %>
<% end %>