/* Css Personalizado */

body {  
	padding-top: 60px;  
	padding-bottom: 40px;  
	font-family: Arimo;
    min-height: 740px;
    
	background-color: #eee; 
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
							 color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
							color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
							to(transparent)); /* Old webkit syntax */
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
							transparent 75%, transparent); /* New webkit syntax */					
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
							transparent 75%, transparent); /* Firefox */
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
							transparent 75%, transparent); /* Opera */
	background-size: 16px 16px;
}  


h1, h2, h3, h4, h5, a#Jump.brand, a {
	font-family: 'Lobster';

}


#img_init {

	border-radius: 50px;
}

#pelis_init {
	text-align: center
	
}


#caratula {
	padding-top: 20px;
	
	
}

img#caratula {
	border-radius: 10px;
	
}

#url_edit {
	padding: 20px;
}


div#init h2{
	color: #5B6466; 
	font-size: 100px;
	padding: 50px 0px 50px 0px;
	text-shadow: 0 0 0.05em #378596
	
}

div#carousel-control left {
	padding-bottom:100px;
	
}

.socials {
	padding: 10px;
}

#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

