<hr>
	<footer>
	   <div class="row-fluid">
		   <div class="span5">
			</div>
		   <div class="span2">
			   <br>
    	      <p>&copy; SeriesJump Company 2013</p>
			</div>
			<div class="span5">
			</div>
		</div>
    </footer>
