<header>
	
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" id="Jump" href="/">Series Jump</a>
          	<ul class="nav">
           			<% if not user_signed_in? %>
					 
			          <li><a href="/about">About</a></li>
		              <li><a href="/privacy">Privacy</a></li>
		              <li><a href="/help">Help</a></li>
		              <li><a href="/terms">Terms</a></li>

					<% else %>
                  
                
              </li>
            </ul>
            
           
            <ul class="nav pull-right">  
             <li class="dropdown">  
    						<a href="#" class="dropdown-toggle" data-toggle="dropdown">  Social  
          						<b class="caret"></b>  
    						</a>  
    						<ul class="dropdown-menu"
    						   <% if current_user.provider == "google" %>		   
     							    <li class="socials"><!-- Place this tag where you want the +1 button to render -->  
									      <g:plusone annotation="inline" width="300"></g:plusone>  
								     </li>  
								<% end %>
							   <% if current_user.provider == "facebook" %>
  								   <li class="socials">
  									   <div class="fb-like" data-send="false" data-width="150" data-show-faces="true"></div>
  								   </li>  
  								<% end %>   
  								<% if current_user.provider == "twitter" %>
  								   <li class="socials">
  									   <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>  
    							   </li> 
    							<% end %> 
  							</ul>  
  						</li>	
            	
				<li class="dropdown">
	               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Perfil de <%= current_user.name %>  <b class="caret"></b></a>
	               <ul class="dropdown-menu">
                 	  <li><a href="/follower">Seguidores</a></li>
                 	  <li><a href="/following">Siguiendo</a></li>
                 	  <li><a href="#">Perfil de usuario</a></li>
                 	  <li> <%= link_to('Logout', signout_path) %> </li>
                 	  <li class="divider"></li>
                 	  <li class="nav-header">Edit</li>
                 	  <li><a href="#">Edit perfil</a></li>
                 	  <li><a href="#">Edit lalala</a></li>
				  </ul>
			   </li>
			   
			   	  
  			</ul>  
  		<% end %>
        </div>
      </div>
    </div>
</header>


