<header>

	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" id="Jump" href="/">Series Jump</a>
          	<ul class="nav">
           			<% if user_signed_in? %>
						  <li> <h5> Logged in as <%= current_user.name %> </h5> </li>
						  <li> <%= link_to('Logout', signout_path) %> </li>
					<% else %>

			          <li><a href="/about">About</a></li>
		              <li><a href="/privacy">Privacy</a></li>
		              <li><a href="/help">Help</a></li>
		              <li><a href="/terms">Terms</a></li>

					<% end %>

                  <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
	              <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            
      </div>
    </div>


  
</header>