<!DOCTYPE html>
<html>
<head>
  <title>SeriesJump</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= render 'layouts/stylesheets' %>  
</head>
<body>
	
	<%= render 'layouts/header' %>
	<div class="container-fluid">
 		<%= yield %>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>

